{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <td>✕</td>
                <td>{{ error.message }}</td>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
