{% extends 'base.html.twig' %}

{% block body %}

    <section id="cookie_chart">

        <h1 id="form_main_title">En savoir plus et paramétrer les cookies</h1>

        <p>
            Cette page a pour but de vous informer sur l’utilisation des cookies de nos sites et de vous indiquer comment les paramétrer.
        </p>

        <h2>Qu’est-ce qu’un cookie ?</h2>
        <p>
            Les cookies sont de petits fichiers texte déposés sur votre ordinateur/tablette/smartphone/télévision
            connectée/console de jeux vidéo connectée à Internet lors de la visite d'un site. Ils ont pour but de collecter
            des informations relatives à votre navigation et de vous adresser des offres et services personnalisés.
            Les cookies sont gérés par votre navigateur internet.
        </p>

        <h2>Pourquoi utilisons-nous des cookies ?</h2>
        <p>
            Nous utilisons les cookies pour le bon fonctionnement du site, comme par exemple gérer l'authentification et
            l'identification du rôle de l'utilisateur. Sur SnowTricks les cookies ne sont pas utilisés à des fins commerciales
            et n'appartiennent pas à des partenaires tiers, toutefois vous pouvez déjà avoir enregistré un de ces cookies sur
            un autre site. <br/>
            Ce type de cookie est sucesptible d'être utilisé afin d'enregistrer votre comportement pour une étude d'audience ou
            pour des campagnes publicitaires ciblées.
        </p>

        <h2>Comment accepter ou refuser les cookies ?</h2>
        <p>
            En continuant votre navigation sur notre site, vous vous engagez à accepter l’utilisation des cookies.
            La rubrique « Aide » des navigateurs vous indique comment paramétrer et désactiver les cookies.
        </p>
        <p>Pour plus d'informations sur les cookies, visitez le site de la <a href="https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi">CNIL</a>.</p>

    </section>

{% endblock %}
