<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SnowTricks - BoSt{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <p>
            <a href="/">Liste des figures</a>
            {% if not is_granted('ROLE_ADMIN') %}
                <a href="/register">S'inscrire</a>
                <a href="/login">Se connecter</a>
            {% else %}
                <a href="/admin/user">Mon profil</a>
                <a href="/logout">Se déconnecter</a>
            {% endif %}
        </p>
        {% if is_granted('ROLE_ADMIN') %}
            <p>
                <a href="/admin/add/trick">Ajouter une figure</a>
                <a href="/admin/add/category">Ajouter une catégorie</a>
            </p>
        {% endif %}

        {# Flash Messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
