<!DOCTYPE html>
<html>
    <head>
        <!-- Meta tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        <!-- Title of the page -->
        <!-- TODO : define the title in each page template -->
        <title>{% block title %}SnowTricks - BoSt{% endblock %}</title>

        <!-- Imported stylesheets -->
        {% block stylesheets %}{% endblock %}

        <!-- Global stylesheets -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/resize.css">

    </head>
    <body>
        <!-- Cookie usage prevent -->
        <section id="cookies_warning">
            <span id="cookie_message">
                Ce site utilise des cookies pour améliorer votre expérience utilisateur, sans aucun usage commercial.
            </span>
            <div id="cookies_buttons">
                <a href="/utilisation-cookies">En savoir plus</a>
                <a href="#" onclick="hideCookieBox()">Compris !</a>
            </div>
        </section>

        <!-- Header and NavBar -->
        <header>

            <!-- Snowtricks's logo + home link -->
            <a id="header_home_link" href="/">

                <!-- Header title with website name -->
                <h2>SNOWTRICKS</h2>

                <!-- Snowtricks logo -->
                <img src="/media/img/main/logo-snowtricks-300px.png" alt="Logo de SnowTricks">

                <!-- Snowtrick's logo -->
                <h3>IMPROVE YOUR SKILLS</h3>

            </a>

            <!-- Socials Medias -->
            <div id="social_links">
                <img src="/media/picto/Twitter.png" alt="Pictogramme de Twitter">
                <img src="/media/picto/Facebook.png" alt="Pictogramme de Facebook">
            </div>

            <!-- Navbar -->
            <section id="navbar">

                <!-- Block used to hide and show menu's links -->
                <div id="navbar_top" onClick="opennavbar()">

                    <!-- Representative picto for this block -->
                    <div class="vm_cell line_picto">
                        <img src="/media/picto/Author_White.png" alt="Pictogramme représentant un utilisateur">
                    </div>

                    <!-- Name of this block's hidden content -->
                    <div class="vm_cell">
                        <span>Menu</span>
                    </div>

                    <!-- Down arrow witch witch is also the link to display the hidden content -->
                    <div class="vm_cell arrow_down">
                        <img src="/media/picto/ArrowDown.png" alt="Flèche pointant vers le bas">
                    </div>

                </div>

                <!-- Navbar links -->
                <div class="openbox">

                    <!-- Anon features -->
                    {% if not is_granted('ROLE_ADMIN') %}
                        <a href="/login">CONNEXION</a>
                        <hr>
                        <a href="/register">INSCRIPTION</a>

                    <!-- Authenticated user's features -->
                    {% elseif is_granted('ROLE_ADMIN') %}

                        <!-- Edit my profil -->
                        <a href="/admin/user">Mon profil</a>

                        <hr> <!-- Add a new trick -->
                        <a href="/admin/add/trick">Ajouter une figure</a>

                        <hr> <!-- Add a new category -->
                        <a href="/admin/add/category">Ajouter une catégorie</a>

                        <hr> <!-- Logout -->
                        <a href="/logout">Se déconnecter</a>

                    {% endif %}

                </div>
            </section>
        </header>

        <!-- Display of flash messages (if defined) -->
        {% for label, messages in app.flashes %}

            <!-- Loop on every founded message -->
            {% for message in messages %}

                <!-- Create a div class with flash-message type for front-work -->
                <div class="flash flash-{{ label }}">
                    {{ message|striptags("<a>")|raw }}
                </div>

            {% endfor %}

        {% endfor %}

        <!-- Here come the main content, define in children templates -->
        <section id="main_content">

            <!-- Display of children's body block -->
            {% block body %}{% endblock %}

        </section>

        <!-- Footer -->
        <footer>

            <!-- Aware message section to explain tricks are dangerous -->
            <section id="footer_top">
                <div id="aware_message">

                    <!-- Picto of warning sign -->
                    <div class="vm_cell">
                        <img src="/media/picto/Beware.png" alt="Panneau attention triangulaire avec point d'exclamation">
                    </div>

                    <!-- String content of the aware message -->
                    <div class="cell">
                        <span id="aware_message_content">
                            <h4>ATTENTION !</h4>
                            <span>
                                Informez vous sur la sécurité
                            </span>
                            <a href="https://www.surf-prevention.com/fiche-regles-de-securite-en-snowpark-68-17.php">
                                En savoir plus
                            </a>
                        </span>
                    </div>

                </div>
            </section>

            <!-- Footer's credits part -->
            <section id="footer_bottom">

                <!-- Webdev credits -->
                <div id="web_dev">

                    <!-- Sysmod-Web link -->
                    <div class="vm_cell">
                        <img src="/media/picto/Dev.png" alt="Pictogramme codeur">
                    </div>

                    <!-- Sysmod string credits -->
                    <div class="vm_cell">
                        <span>Réalisé par <a href="https://sysmod.fr">Sysmod-Web</a></span>
                    </div>

                </div>

                <!-- Snowtricks's copyright -->
                <div id="copyright">
                    <span>© 2017 - SnowTricks</span>
                </div>

            </section>

        </footer>


        <!-- JQuery import -->
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous">
        </script>

        <!-- Navbar openbox handling -->
        <script>

            // Hide all blocks with openbox class attribute (all are subjects for slide up accordion display
            $('.openbox').hide();

            // Detect and put a timer on flash-messages for hide them
            $('.flash-success').delay(5000).fadeOut( 500 );

            // Openbox function for navbar
            function opennavbar(){
                if($('#navbar .openbox').is(':visible')){
                    $('#navbar .openbox').hide();
                }else{
                    $('#navbar .openbox').show();
                }
            }

            // Hide cookie warning on click
            function hideCookieBox(){
                $('#cookies_warning').hide();
            }
        </script>

        <!-- Specifics children JS scripts come here -->
        {% block javascripts %}{% endblock %}

    </body>
</html>
