<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}SnowTricks - BoSt{% endblock %}</title>

        <!-- Imported stylesheets -->
        {% block stylesheets %}{% endblock %}
        <!-- Global stylesheets -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/resize.css">
    </head>
    <body>

        <!-- Header and NavBar -->
        <header>
            <!-- Snowtricks's logo + home link -->
            <a id="header_home_link" href="/">
                <h2>SNOWTRICKS</h2>
                <img src="/media/img/main/logo-snowtricks-300px.png" alt="Logo de SnowTricks">
                <h3>IMPROVE YOUR SKILLS</h3>
            </a>
            <!-- Socials Medias -->
            <div id="social_links">
                <img src="/media/picto/Twitter.png" alt="Pictogramme de Twitter">
                <img src="/media/picto/Facebook.png" alt="Pictogramme de Facebook">
            </div>
            <!-- Navbar -->
            <section id="navbar">
                <!-- Block used to hide and show menu's links -->
                <div id="navbar_top">
                    <div class="vm_cell line_picto">
                        <img src="/media/picto/Author_White.png" alt="Pictogramme représentant un utilisateur">
                    </div>
                    <div class="vm_cell">
                        <span>Menu</span>
                    </div>
                    <div class="vm_cell arrow_down">
                        <img onClick="opennavbar()" src="/media/picto/ArrowDown.png" alt="Flèche pointant vers le bas">
                    </div>
                </div>
                <!-- Navbar links -->
                <div class="openbox">
                    <!-- Anon features -->
                    {% if not is_granted('ROLE_ADMIN') %}
                        <a href="/login">CONNEXION</a>
                        <hr>
                        <a href="/register">INSCRIPTION</a>
                    <!-- Admin features -->
                    {% elseif is_granted('ROLE_ADMIN') %}
                        <a href="/admin/user">Mon profil</a>
                        <hr>
                        <a href="/admin/add/trick">Ajouter une figure</a>
                        <hr>
                        <a href="/admin/add/category">Ajouter une catégorie</a>
                        <hr>
                        <a href="/logout">Se déconnecter</a>
                    {% endif %}
                </div>
            </section>
        </header>

        {# Flash Messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}

        <!-- Here come the main content -->
        <section id="main_content">
            {% block body %}{% endblock %}
        </section>

        <!-- Footer -->
        <footer>

            <section>
                <!-- Aware message to explain tricks are dangerous -->
                <div id="aware_message">
                    <div class="vm_cell">
                        <img src="/media/picto/Beware.png" alt="Panneau attention triangulaire avec point d'exclamation">
                    </div>
                    <div class="cell">
                        <span id="aware_message_content">
                            <h4>ATTENTION !</h4>
                            <span>Message d'avertissement à définir</span>
                            <a href="/warning">En savoir plus</a>
                        </span>
                    </div>
                </div>
            </section>

            <!-- Footer's credits part -->
            <section id="footer_bottom">
                <!-- Webdev -->
                <div id="web_dev">
                    <div class="vm_cell">
                        <img src="/media/picto/Dev.png" alt="Pictogramme codeur">
                    </div>
                    <div class="vm_cell">
                        <span>Réalisé par <a href="https://sysmod.fr">Sysmod-Web</a></span>
                    </div>
                </div>
                <!-- Snowtricks's copyright -->
                <div id="copyright">
                    <span>© 2017 - SnowTricks</span>
                </div>
            </section>

        </footer>


        <!-- JQuery import -->
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous">
        </script>
        <!-- Slide parts handling -->
        <script>
            $('.openbox').hide();
            function opennavbar(){
                if($('#navbar .openbox').is(':visible')){
                    $('#navbar .openbox').hide();
                }else{
                    $('#navbar .openbox').show();
                }
            }
        </script>
        <!-- Specifics JS scripts come here -->
        {% block javascripts %}{% endblock %}
    </body>
</html>
