{% extends 'base.html.twig' %}

{% block body %}

    <h1>Liste des figures</h1>

    {% for trick in tricks %}
        <h2>{{ trick.name }}</h2>
        <p>
            <img src="{{ trick.author.img.url }}" alt="{{ trick.author.img.alt }}">
            <span>{{ trick.author.fullName }}</span>
        </p>
    {% endfor %}
    
{% endblock %}