{% extends 'base.html.twig' %}

{% block body %}

    <!-- Main title -->
    <h1 id="form_main_title">Modifier mon profil</h1>

    <!-- Form view setting and display -->
    <div id="form_container">

        <!-- Define the form themes -->
        {% form_theme form
            'form/_errors_form_theme.html.twig'
            'form/_edit_user_form_theme.html.twig'
        %}

        <!-- Call the display of the form view -->
        {{ form(form) }}

    </div>

{% endblock %}
