{% extends 'base.html.twig' %}

{% block body %}

    <h1>Modifier mon profil</h1>

    <div class="container">
        {% form_theme form
            'form/_edit_user_form_theme.html.twig'
        %}
        {{ form(form) }}
    </div>

{% endblock %}
