{% extends 'base.html.twig' %}

{% block body %}

    <!-- Main title -->
    <h1 id="form_main_title">Se connecter</h1>

    <!-- Setting up and display the form -->
    <div id="form_container">

        <!-- Define the form's theme -->
        {% form_theme form
            'form/_login_form_theme.html.twig'
        %}

        <!-- Ask the display of form's view -->
        {{ form(form) }}

    </div>

    <!-- Link to password reset request form -->
    <a href="/user/mot-de-passe-oublie" id="reset_pwd_link">J'ai oublié mon mot de passe</a>

{% endblock %}
