{% extends 'base.html.twig' %}

{% block body %}

    <!-- Main title -->
    <h1>Se connecter</h1>

    <!-- Setting up and display the form -->
    <div class="container">

        <!-- Define the form's theme -->
        {% form_theme form
            'form/_login_form_theme.html.twig'
        %}

        <!-- Ask the display of form's view -->
        {{ form(form) }}

    </div>

{% endblock %}
