{% extends 'base.html.twig' %}

{% block body %}

    {% if session.has('test') %}
        {{ session.get('username') }}
        {{ session.get('pwd') }}
    {% endif %}
    <h1>Modifier</h1>

    <div class="container">
        {% form_theme form
            'form_table_layout.html.twig'
        %}
        {{ form(form) }}
    </div>

{% endblock %}
