{% extends 'base.html.twig' %}

{% block body %}

    <!-- Main title and subdescription-->
    <h1 id="form_main_title">Mot de passe oublié</h1>
    <p class="form_sub_description">Entrez votre adresse mail ou votre nom d'utilisateur,
        vous recevrez un mail contenant la procédure de ré-initialisation</p>

    <!-- Setting up and display the form's view -->
    <div id="form_container">

        <!-- Define the form's themes -->
        {% form_theme form
            'form/_errors_form_theme.html.twig'
            'form/_pwd_reset_form_theme.html.twig'
        %}

        <!-- Ask for form's view display -->
        {{ form(form) }}

    </div>

{% endblock %}
