{% extends 'base.html.twig' %}

{% block body %}

    <!-- Main title and subdescription-->
    <h1>Mot de passe oublié</h1>
    <p>Entrez votre adresse mail ou votre nom d'utilisateur, vous recevrez un mail vous indiquant comment réinitialiser
    votre mot de passe.</p>

    <!-- Setting up and display the form's view -->
    <div class="container">

        <!-- Define the form's themes -->
        {% form_theme form
            'form/_errors_form_theme.html.twig'
            'form/_pwd_reset_form_theme.html.twig'
        %}

        <!-- Ask for form's view display -->
        {{ form(form) }}

    </div>

{% endblock %}
