{% extends 'base.html.twig' %}

{% block body %}

    <!-- Main title -->
    <h1>Ajouter une figure</h1>

    <!-- Form view setting and display -->
    <div class="container">

        <!-- Define the form's themes -->
        {% form_theme form
            'form/jquery.collection.html.twig'
            'form/_errors_form_theme.html.twig'
            'form/_trick_form_theme.html.twig'
            'form/_image_form_theme.html.twig'
            'form/_video_form_theme.html.twig'
        %}

        <!-- Form view display -->
        {{ form(form) }}

    </div>

{% endblock %}

{% block javascripts %}

    <!-- Import JQuery js file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Call the symfony-collection js file -->
    <script src="/js/jquery.collection.js"></script>

    <!-- Setting up symfony-collection on the needed form's fields -->
    <script type="text/javascript">

        // Image type
        $('.img').collection({
            min: 1,
            position_field_selector: '.img_position',
            elements_selector: '> table'
        });

        // Video type
        $('.vid').collection({
            min: 0,
            position_field_selector: '.vid_position',
            elements_selector: '> table'
        });

    </script>

{% endblock %}
