{% extends 'base.html.twig' %}

{% block body %}

    <h1>Ajouter une catégorie</h1>
    <div class="container">
        {% form_theme form
            'form_table_layout.html.twig'
        %}
        {{ form(form) }}
    </div>

{% endblock %}
