{% extends 'base.html.twig' %}

{% block body %}

    <!-- Main title -->
    <h1>Ajouter une catégorie</h1>

    <!-- Form view settings and display -->
    <div class="container">

        <!-- Define the form themes -->
        {% form_theme form
            'form/_errors_form_theme.html.twig'
            'form/_category_form_theme.html.twig'
        %}

        <!-- Form view call, display according to above themes -->
        {{ form(form) }}

    </div>

{% endblock %}
